/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* HEADER */

header{
    background-color: white;
    height: 70px;
    padding-left: 200px;
    padding-top: 5px;
}

#main-logo{
    vertical-align: middle;
}

#main-title {
    display: inline-block;
    font-weight: 900;
    font-size: 2em;
    vertical-align: middle;
}

/* MAIN */

main{
    background-color: #f6f8f9;
    height: 950px;
}

.spacing{
    height: 50px;
}

.container{
    width: 40%;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 2%;
}

.container2{
    width: 550px;
    margin: auto;
}

.my-button{
    padding: 6px 12px;
    border-radius: 5px;
    border-color: lightgray;
    border-style: solid;
    color: lightgray;
    background-color: white;
}

.special-button{
    background-color: #47adf1;
    color: white;
    border-color: #47adf1;
}

#add-menu-container{
    padding: 15px 10px;
}

.second-box{
    padding: 30px 10px;
}


hr{
    background-color:#f6f8f9;
    height: 5px;
    border: none;
}

h3{
    font-weight: 900;
    color: #3b3a3a;
    padding: 5px 0;
}

h3::before{
    content: "\25BC";
    font-size: 10px;
}

.checking-list{
    font-weight: 300;
    display: block;
    padding: 4px;
}

/* CHECKBOX */

.done::before{
    content: "\2713";
    color: #6fc5b0;
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
    border: 1px solid #6fc5b0;
    border-radius: 50%;
    text-align: center;
}

.to-do::before{
    content: "\2717";
    color: #eb5952;
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
    border: 1px solid #eb5952;
    border-radius: 50%;
    text-align: center;
}

/* TAG */

.editorial::after{
    content: "Editorial";
    color: white;
    background-color: #45abe9;
    font-size: 0.7em;
    border-radius: 48%;
    padding: 5px 9px;
}

.Q1-goals::after{
    content: "Q1 Goals";
    color: white;
    background-color: #9c72e4;
    font-size: 0.7em;
    border-radius: 48%;
    padding: 5px 9px;
}

.recruiting::after{
    content: "Recruiting";
    color: white;
    background-color: #64c0a8;
    font-size: 0.7em;
    border-radius: 48%;
    padding: 5px 9px;
}

.mobile::after{
    content: "Mobile";
    color: white;
    background-color: #f29d33;
    font-size: 0.7em;
    border-radius: 48%;
    padding: 5px 9px;
}

.website::after{
    content: "Website";
    color: white;
    background-color: #d863a0;
    font-size: 0.7em;
    border-radius: 48%;
    padding: 5px 9px;
}

.sales::after{
    content: "Sales";
    color: white;
    background-color: #b0c926;
    font-size: 0.7em;
    border-radius: 48%;
    padding: 5px 9px;
}